{% extends 'admin.html.twig' %}

{% block title %}Member index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function() {
            const addNewMember = document.getElementById('addNewMember')
            const modalMember = document.getElementById('modalMember')
            modalMember.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                let button = event.relatedTarget
                // extraction de la variable
                let recipient = button.getAttribute('data-bs-whatever')
                // mise à jour du lien de soumission du formulaire.
                let modalContent = modalMember.querySelector('.modal-footer')
                let modalSubmit = modalMember.querySelector('.modal-footer a')
                //modalSubmit.href = '/gestapp/customer/addcustomerjson/' + recipient
            })
        }
    </script>
{% endblock %}


{% block content %}

    <div class="row d-flex justify-content-between">
        <div class="col-sm-12">
            <h1>MEMBRES - Liste des inscrits</h1>
        </div>
    </div>

    <div class="navigation d-flex justify-content-between">
        <div class="mb-1">
            <button id="addNewMember" class="btn btn-sm btn-outline-dark">Ajouter un.e membre</button>
            <a class="btn btn-sm btn-outline-warning" id="SupprRows" href="">Archiver les membres sélectionnés</a>
        </div>
        <div id="blockPagination">
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled">
                        <span class="page-link">«&nbsp;Précédent</span>
                    </li>
                    <li class="page-item active">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/gestapp/property/?page=2">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/gestapp/property/?page=3">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" rel="next" href="/gestapp/property/?page=2">Suivant&nbsp;»</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="AllCheckbox" name="AllCheckbox">
                </th>
                <th>Nom et prénom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><input type="checkbox" id="CheckProperty" name="CheckProperty" value="{{ member.id }}"></td>
                <td>{{ member.firstName }} {{ member.lastName }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.roles ? member.roles|json_encode : '' }}</td>
                <td>{{ member.password }}</td>
                <td>{{ member.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_member_show', {'id': member.id}) }}">show</a>
                    <a href="{{ path('app_admin_member_edit', {'id': member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_member_new') }}">Create new</a>
{% endblock %}

{% block modals %}
    {{ parent() }}
    <!-- Edition d'un vendeur sur un bien -->
    <div class="modal fade" id="modalMember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Fiche d'un client à cette fiche</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="ModalBodyMember" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="btnAddCustomer" class="btn btn-sm btn-primary editCustomer" data-bs-dismiss="modal">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
