{{ form_start(form) }}
<div class="row">
    <div class="col-8">
        <h4>Détails</h4>
        <div class="row mb-1">
            {{ form_label(form.name, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.subtitle, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.subtitle, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
        <h5>Type de page :</h5>
        <div class="row mb-1">
            {{ form_label(form.pagechoice, '',{'label_attr': {'class': 'col-sm-5'}}) }}
            <div class="col-sm-7">
                {{ form_widget(form.pagechoice, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
        </div>
        <h4>Référencement de la page</h4>
        <p>Référencer votre page n'est pas anodin, vous pouvez la passer à cette étape mais ne l'oubliez pas plus tard.</p>
        <div class="row mb-1">
            {{ form_label(form.seoTitle, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.seoTitle, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.seoDescription, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.seoDescription, {'attr': {'class': 'form-control form-control-sm', 'rows': 5}}) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.seoKeywords, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.seoKeywords, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>

    </div>
    <div class="col-4">
        <h4>Paramètres de la page</h4>
        <h5>Publication</h5>
        <div class="row mb-1">
            {{ form_label(form.state, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.state, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.parent, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.parent, {'attr': {'class': 'form-select form-select-sm'}}) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.isMenu) }}
            <div class="col-sm-12">
                {{ form_widget(form.isMenu) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.isShowTitle) }}
            <div class="col-sm-12">
                {{ form_widget(form.isShowTitle) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.IsShowDate) }}
            <div class="col-sm-12">
                {{ form_widget(form.IsShowDate) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.IsShowDescription) }}
            <div class="col-sm-12">
                {{ form_widget(form.IsShowDescription) }}
            </div>
        </div>
        <h5>Effets CSS de la page</h5>
        <p>Le CSS permet de styliser votre page à partir de règles définies soit directement dans une feuille de style éditable dans les paramètres, soit directement dans le bloc "Style".</p>
        <div class="row mb-1">
            {{ form_label(form.cssId, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.cssId, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.cssName, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.cssName, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.cssStyle, '',{'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-8">
                {{ form_widget(form.cssStyle, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
        </div>
    </div>
</div>
    {{ form_widget(form) }}
{{ form_end(form) }}
